
header {
    background-color: rgb(6, 105, 97);
    background-size: cover;
    height: 100px; 
    color: rgb(228, 222, 222);
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
}
header img {
    height: 150%;
    width: auto;
    padding-left: 25px;
    margin-top: -25px;
    
}
header a{

    margin-left: auto;
    margin-right: 20%;
    margin-top: 1.8%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(6, 94, 99);
    background: url('bckgrnd.jpg') no-repeat;;
    background-size: 100%;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    background:  rgb(58, 51, 39);
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 15%;
    color: white;
}

.product img {
    max-width: 100%;
    height: auto;

}
button{
    color: rgb(255, 255, 255);
    background-color: rgba(87, 179, 184, 0.877);
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
button:hover{
    opacity: 50%;
}
button.termekek{
    
}

#cart {
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#cart-items {
    list-style: none;
    padding: 0;
}
iframe{
    border-radius: 5px;
    border-color: white;
    margin-top: -550px;
    padding-left: 60px;
}